* {
   margin: 0;
}

body {
   background-color: #fff;
}

.header {
   padding: 8px 16px;
   background-color: rgba(176, 173, 162, 0.288);
   justify-content: space-between;
   display: flex;
   align-items: center;
}

.links {
   display: flex;
   flex-direction: row;
   gap: 20px;
   list-style: none;

   li {
      padding: 4px 12px;
      background-color: none;
      border-radius: 10px;

      a {
         color: #000000;
         text-decoration: none;
      }
   }
}

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: none;
   width: max-content;

   img {
      width: 60px;
      height: 60px;
   }
}

.user_acc {
   display: flex;
   flex-direction: row;
   list-style: none;
   align-items: center;
   gap: 5px;
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   background-image: url(/project/assets/images/forest.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   height: 950px;
}

.main-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

   h1 {
      font-size: 68px;
      text-align: center;
      color: #fff;
   }

   p {
      font-size: 16px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #fff;
      text-align: center;
   }
}

.social-links {
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: end;
   gap: 10px;
}

.catalog {
   padding: 40px 60px;
   background-image: url(/project/assets/images/bg_train.jpg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   height: 950px;
   position: relative;
}

.catalog::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   /* Поверх изображения */
   background-color: rgba(255, 255, 255, 0.5);
   /* Черная полупрозрачная заливка */
}

.catalog-content {
   position: relative;
   /* Чтобы контент оказался поверх подложки */
   z-index: 2;
   /* Контент должен находиться выше подложки */
}

.catalog-text {
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 40px;

   h1 {
      font-size: 120px;
      color: #196942c0;
   }

   p {
      font-size: 26px;
      width: 400px;
      color: #196942c0;
   }
}

.your-class {
   margin: 20px 40px;
   /*width: 220px !important;*/
   height: 220px;
   top: 100px;

   img {
      width: 350px;
      height: 500px;
      object-fit: cover;
      border-radius: 20px;
   }


}

.your-class-text {
   figcaption {
      color: #fff;
      position: relative;
      bottom: 35px;
      left: 60px;
      font-size: 24px;
      
   }
   p{
      visibility:hidden;
      text-align: center;
      font-size: 18px;
      margin-right: 220px;
   }

   transition: transform 0.3s ease;
   /* Плавный переход */
}

.your-class-text:hover {
   transform: translateY(-60px);
   /* Поднимаем элемент на 10 пикселей вверх */
   p{
      visibility: visible;

   }
}

.about {
   padding: 40px;
   display: flex;
   flex-direction: column;
   gap: 40px;
   margin: 0 auto;

   h1 {
      font-size: 120px;
      color: #196942c0;
      margin-bottom: 40px;
   }
}

.about-bg {
   background-image: url(/project/assets/images/bg_forest.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 950px;
   position: relative;
}

.about-bg::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   /* Поверх изображения */
   background-color: rgba(255,
         255,
         255,
         0.5);
   /* Черная полупрозрачная заливка */
}

.about-content {
   position: relative;
   /* Чтобы контент оказался поверх подложки */
   z-index: 2;
   /* Контент должен находиться выше подложки */
   display: block;
   justify-content: space-between;
   align-items: stretch;
   gap: 40px;
}

.about-content-row {
   display: flex;
   justify-content: space-around;
   /* Распределяем блоки равномерно */
   align-items: flex-start;
   /* Верхняя линия начинается одинаково */
}

.about-text {
   display: flex;
   flex-direction: column;
   gap: 20px;
   background-color: #ffffff;
   height: max-content;
   width: 575px;
   padding: 40px;
   margin-right: 40px;

   p {
      font-size: 30px;
   }

   ul {
      li::marker {
         color: green;
      }

      li {
         font-size: 30px;
      }
   }
}

.about-images {
   position: static;
   float: right;
   margin-left: 40px;
}

.images {
   display: grid;
   grid-template-areas:
      "a_img1 a_img3"
      "a_img2 a_img3";

   grid-template-columns: repeat(auto-fit,
         minmax(350px, 1fr));
   /* Автоматически распределяем колонки */
   grid-gap: 10px;
   justify-content: start;
   /* Выравниваем элементы сетки слева */

   img {
      border-radius: 40px;
   }
}

a_img1 img,
.a_img2 img,
.a_img3 img {
   object-fit: cover;
}

.a_img1 {
   grid-area: a_img1;

   img {
      width: 350px;
      height: 350px;
   }
}

.a_img2 {
   grid-area: a_img2;

   img {
      width: 350px;
      height: 350px;
      border-bottom-left-radius: 160px;
   }
}

.a_img3 {
   grid-area: a_img3;

   img {
      width: 350px;
      height: 715px;
      border-top-right-radius: 160px;
   }
}

.end-line {
   display: flex;
   align-items: center;
   justify-content: space-between;

   img {
      height: 71px;
      width: 125px;
   }
}

.gallery {
   background: #fff;
   background-attachment: fixed;
   height: 950px;
}

.gallery-text {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 40px 60px;

   h1 {
      font-size: 120px;
      color: #196942c0;
   }
}

.gallery_images {
   display: grid;
   grid-template-columns: max-content;
   grid-template-areas:
      "img1 img1 img2 img5"
      "img3 img4 img4 img5";
   grid-gap: 20px;
   justify-content: center;

   div {
      img {
         border-radius: 20px;
      }
   }
}

.img1 {
   grid-area: img1;

   img {
      width: 650px;
      height: 325px;
   }
}

.img2 {
   grid-area: img2;

   img {
      width: 325px;
      height: 325px;
   }
}

.img3 {
   grid-area: img3;

   img {
      width: 325px;
      height: 325px;
   }
}

.img4 {
   grid-area: img4;

   img {
      width: 650px;
      height: 325px;
   }
}

.img5 {
   grid-area: img5;

   img {
      width: 325px;
      height: 674px;
   }
}

.contacts {
   background: #fff;
   background-attachment: fixed;
   height: 950px;
}

.contacts-text {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 40px 60px;

   h1 {
      font-size: 120px;
      color: #196942c0;
   }
}

.geomap {
   border-radius: 60px;
   width: 400px;
   height: 400px;
   position: relative;
   object-fit: cover;
   left: 200px;
}

.place-marker {
   position: relative;
   width: 60px;
   height: 60px;
   bottom: 200px;
   transform: translate(-12%, -70%);
   /* точное выравнивание центра маркера */
}

.square {
   border: 0.1px solid rgba(0, 0, 0, 0.1);
   background-color: rgba(0, 0, 0, 0.35);
   border-radius: 60px;
   width: 450px;
   height: 400px;
   position: relative;
   left: 1200px;
   bottom: 405px;

   h1 {
      font-size: 26px;
      color: #fff;
      text-align: center;
      margin-top: 30px;
   }

   h2 {
      font-size: 26px;
      color: #196942c0;
      text-align: center;
      margin-left: 30px;
      margin-top: 15px;
   }

   p {
      font-size: 24px;
      color: #196942c0;
      margin-left: 30px;
      margin-top: 15px;
   }
}

.footer {
   padding: 8px 16px;
   background-color: rgba(176, 173, 162, 0.288);
   justify-content: space-around;
   display: flex;
   align-items: center;
   height: 120px;
}